body{
    background: #eeeeee  ;
    font-family: Meiryo;
}
.headder{
    background-color: aquamarine;
    width: 667px;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    margin: 30px auto;
    box-shadow: grey 4px 4px;
}
.LieX{
    background-color: orange;
    width: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    border-color: black ;
    margin: 20px auto;
    box-shadow: 3px 3px;
}
.BTN1{
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    background:whitesmoke;
    color: #924593;
    border-bottom: solid 4px #626262;
    border-radius: 4px;

}
.BTN1:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}
.SABANODIAMOND{
    background-color: burlywood;
    width: 667px;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    margin: 30px auto;
    box-shadow: grey 8px 8px;
}
.sabam{
    background-color: gold;
    width: 334px;
    padding: 16px auto;
    text-align: center;
    border-radius: 40px;
    border-color: black ;
    margin: 20px auto;
    box-shadow: grey 10px 10px;
}
.about0{
    background-color:darkgoldenrod;
    width: 650px;
    text-align: center;
    margin: 5px  auto;
    border-radius: 12px;
    box-shadow: gray 8px 8px;
}