body{
    background: #eeeeee  ;
    font-family: Meiryo;
}
.headder{
    background-color: aquamarine;
    width: 667px;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    margin: 30px auto;
    box-shadow: grey 4px 4px;
}
.LieX{
    background-color: orange;
    width: 250px;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    border-color: black ;
    margin: 20px auto;
    box-shadow: 3px 3px;
}
.BTN1{
    display: inline-block;
    padding: 15px 30px;
    text-decoration: none;
    background:whitesmoke;
    color: #924593;
    border-bottom: solid 4px #626262;
    border-radius: 4px;

}
.BTN1:active{
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    border-bottom: none;
}
.SABANODIAMOND{
    background-color: burlywood;
    width: 667px;
    padding: 15px;
    text-align: center;
    border-radius: 12px;
    margin: 30px auto;
    box-shadow: grey 8px 8px;
}
.sabam{
    background-color: gold;
    width: 334px;
    padding: 16px auto;
    text-align: center;
    border-radius: 40px;
    border-color: black ;
    margin: 20px auto;
    box-shadow: grey 10px 10px;
}
.about0{
    background-color:darkgoldenrod;
    width: 650px;
    text-align: center;
    margin: 5px  auto;
    border-radius: 12px;
    box-shadow: gray 8px 8px;
}
.Bot01{
    background-color: whitesmoke;
    width: 400px;
    border-radius: 16px;
    text-align: center;
    margin: 33px auto;
}
.om01{
    background-color: whitesmoke;
    width: 570px;
    text-align: center;
    margin: 25px auto;
    border-radius: 16px;
    
}
.fake01{
    background-color: coral;
    width: 1660px;
    text-align: center;
    margin: 33px auto;
    border-radius: 34px ;
}
.fake02{
    background-color: whitesmoke;
    width: 777px ;
    text-align: center;
    margin: 22px auto;
    border-radius: 33px;
    box-shadow: gray 8px 8px;
}
.fake03{
    background-color: whitesmoke;
    width: 1331px ;
    text-align: center;
    margin: 22px auto;
    border-radius: 33px;
    box-shadow: gray 8px 8px;
}
.fake04{
    background-color: whitesmoke;
    width: 1366px ;
    text-align: center;
    margin: 22px auto;
    border-radius: 33px;
    box-shadow: gray 8px 8px;
}
.fake05{
    background-color: whitesmoke;
    width: 1334px ;
    text-align: center;
    margin: 22px auto;
    border-radius: 33px;
    box-shadow: gray 8px 8px;
}
.fake06{
    background-color: whitesmoke;
    width: 334px ;
    text-align: center;
    margin: 15px auto;
    border-radius: 33px;
    box-shadow: gray 8px 8px;
}
.om02{
    background-color:#99C99C;
    width: 423px;
    height: 478px;
    border-radius:22px ;
    margin: 33px auto;
}
.pc01{
    margin: 5px auto;
}