body{
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
.maincontent{
    background-color: rgb(131, 193, 255);
    text-align: center ;
}
.DIVISION{
    display:flex;
    flex-wrap: wrap;
}
.DIVISION div{
    width: 50%;
    height: 50%;
}
.imgzone{
    text-align: center;
}
.text1{
    text-align: right;
}